@font-face{
    font-family: miFuente;
    src: url(../fonts/IndieFlower.ttf);
  }

  .separador { clear: both; }


 

     .cabcen {
        
        font-family: miFuente;
            
        
        width: 40%;
        text-align: center;
        margin-left:auto; /* Espacio para la columna izquierda */
       margin-right:auto; /* Espacio para la columna derecha */
        padding:10px;  
       
       
     }

     #campo{
        font-family: miFuente;
        width: 100%;
        max-width:100%;
     }
     

  #cabecera {
    padding:1px 4px 80px 4px;
    border:solid navy 1px;
  }
  

  .cabis {

    float:left; /* Alineación a la izquierda */
    width:25%;
     
    padding:1px 2px 10px;
   
    text-align: center;
  }

#logo{
    display: inline;
    float:left;
    border: 1px solid black;
    border-radius: 4px;
    width: 20%;
   
}

  
.cabder{
    float:right; /* Alineación a la derecha */
    width:auto;
    text-align: center;
}
  

     .f1{
    width:40px;
    height:40px;
    border-radius:150px;
    margin-left:auto; /* Espacio para la columna izquierda */
    margin-right:auto; 
    
    max-width:100%;
    
    }


     
    .menu ul li {
        font-family: miFuente;
        font-size: 1em;
        display: table-cell;
        width: 7%;
        text-align: center;
        margin-right: 2%;
        border: thin solid rgba(127,96,17,1.00);
        border-collapse: collapse;
    }
    
    .menu ul li a {
        font-family: miFuente;
        color: #222;
        text-decoration: none;
        display: block;
        margin-bottom: 8%;
        margin-bottom: 0;
        font-weight: bold;
    }
   
    .menu ul li a:hover {
        background-color: #222;
        color: white;
    }
    

    .menu ul {
        display: table-row;
        margin: 0;
    }
    
   

    #cuerpo{
        font-family: miFuente;
        width: 88.2%;
	max-width: 1100px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
	background-color: rgb(197, 243, 159);
	-moz-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	-webkit-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px
    }
    
   

    .articulo{
        width: 100%;
	font-size: 1.2em;
    text-align: justify;
    float: right;
    
    }

    .curioso{
        width: 95%;
	font-size: 0.9em;
	text-align: justify;
    }

    .curioso2{
        width: 95%;
	font-size: 0.9em;
    text-align: justify;
    padding: 10px 0 100px 0;
    }



    .artima {
        max-width: 100%;
  
        float: right;
        
        margin: 0.5% 0% 2% 2%;
        width:auto;
        height:auto;
        
       
    }

    #video{
        float: left;
        max-width: 95%;
        margin: 5% 0% 2% 2%;
        width:auto;
        height:auto;
    }

     #pie{
        font-family: miFuente;
        padding:10px 0 10px 0;
        overflow-x:hidden;
        overflow-y:auto; 
       height:100%; 
        border-top: 2px solid rgba(128,98,26,1.00);
        
    }
   

    #isq{
        font-size: 1em;
        
        float:left; /* Alineación a la izquierda */
         width:20%;
        
        padding:10px;
        
        text-align: center;
        
    }

.imapie{
    max-width: 80%;
  
        float: right;
        
        margin: 2% 10% 2% 0%;
        width:auto;
        height:auto;
}

    #der{
        
        float:right; /* Alineación a la derecha */
         width:20%;
         text-align: center;
         border:solid navy 1px;
         padding:10px;
       
        
    }

    #centro{
       
        width: 20%;
        text-align: center;
        margin-left:auto; /* Espacio para la columna izquierda */
       margin-right:auto; /* Espacio para la columna derecha */
         border:solid navy 1px;
        padding:10px;  
    }

    
    #vacunas{
        padding:10px 0 10px 0;
 overflow-x:hidden;
 overflow-y:auto; /* Hace que se ajuste a la columna más alta en ff */
   height:100%;
   text-align: center;
   
   max-width:100%;
   
    }

    #isquer{
        
        float:left; /* Alineación a la izquierda */
        width:25%;
         
        padding:10px;
       
        text-align: center;
    }
    
    #dere{
        
        float:right; /* Alineación a la derecha */
         width:25%;
         text-align: center;
         
         padding:10px;
       
        
    }

    #cent{
       
        width: 25%;
        text-align: center;
        margin-left:auto; /* Espacio para la columna izquierda */
       margin-right:auto; /* Espacio para la columna derecha */
        padding:10px;  
        
       
       
    }

    .redondo{
        max-width: 100%;
        width:auto;
    height:auto;
    border-radius:150px;
    margin-left:auto; /* Espacio para la columna izquierda */
    margin-right:auto; 

    
    
    }




    .columtres{
        padding:10px 0 10px 0;
        overflow-x:hidden;
        overflow-y:auto; /* Hace que se ajuste a la columna más alta en ff */
          height:100%;
          text-align: center;
          
          max-width:100%;
       
        
    }
   

    .columisq{
        
        float:left; /* Alineación a la izquierda */
        width:25%;
         
        padding:10px;
       
        text-align: justify;
        border:solid navy 1px;
        
        
    }

    .columder{
        
        float:right; /* Alineación a la derecha */
         width:65%;
         text-align: justify;
         
         padding:10px;
       
         border:solid navy 1px;
         
        
    }

    #columcen{
       
        width: 40%;
       
        margin-left:auto; /* Espacio para la columna izquierda */
       margin-right:auto; /* Espacio para la columna derecha */
        padding:20px;  
        
         border:solid navy 1px;
        
         
         text-align: justify;
        
    }

    .tamimagen{
        width:400px; 
        height:400px;
        float: right;
        margin: 0.5% 0% 2% 2%;
    }


    .imacab{
        max-width: 48%;
  
        float: right;
        
        margin: -5% 3% 2% 2%;
        width:auto;
        height:auto;
        
        
    }